.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentColor;
}
.icon-sm {
  width: 16px;
  height: 16px;
}
.icon-md {
  width: 24px;
  height: 24px;
}
.icon-lg {
  width: 32px;
  height: 32px;
}
.icon-xlg {
  width: 48px;
  height: 48px;
} 