:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .main-wrapper {
    max-width: calc(var(--app-max-width) + 2rem);
    width: 100%;
    flex: 1 0 auto;

    main {
      padding: 0 1rem;
    }
  }

  ec-footer {
    flex-shrink: 0;
    width: 100%;
  }
}

details {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  background-color: black;
  transition: height 0.3s ease;

  &[open] {
    height: 555px;
  }

  &:not([open]) {
    height: 52px; // Height of summary
  }

  summary {
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  span {
    padding: 15px;
    padding-top: 50px;
  }
}
